build/Collatz/Analysis-00.toc
build/Collatz/base_library.zip
build/Collatz/Collatz.exe.manifest
build/Collatz/EXE-00.toc
build/Collatz/PKG-00.pkg
build/Collatz/PKG-00.toc
build/Collatz/PYZ-00.pyz
build/Collatz/PYZ-00.toc
build/Collatz/Tree-00.toc
build/Collatz/Tree-01.toc
build/Collatz/Tree-02.toc
build/Collatz/warn-Collatz.txt
build/Collatz/xref-Collatz.html
build/CollatzA/Analysis-00.toc
build/CollatzA/base_library.zip
build/CollatzA/CollatzA.exe.manifest
build/CollatzA/EXE-00.toc
build/CollatzA/PKG-00.pkg
build/CollatzA/PKG-00.toc
build/CollatzA/PYZ-00.pyz
build/CollatzA/PYZ-00.toc
build/CollatzA/Tree-00.toc
build/CollatzA/Tree-01.toc
build/CollatzA/Tree-02.toc
build/CollatzA/warn-CollatzA.txt
build/CollatzA/xref-CollatzA.html
build/CollatzV0.1.3/Analysis-00.toc
build/CollatzV0.1.3/base_library.zip
build/CollatzV0.1.3/CollatzV0.1.3.exe.manifest
build/CollatzV0.1.3/EXE-00.toc
build/CollatzV0.1.3/PKG-00.pkg
build/CollatzV0.1.3/PKG-00.toc
build/CollatzV0.1.3/PYZ-00.pyz
build/CollatzV0.1.3/PYZ-00.toc
build/CollatzV0.1.3/Tree-00.toc
build/CollatzV0.1.3/Tree-01.toc
build/CollatzV0.1.3/Tree-02.toc
build/CollatzV0.1.3/warn-CollatzV0.1.3.txt
build/CollatzV0.1.3/xref-CollatzV0.1.3.html
build/CollatzV0.1.4/Analysis-00.toc
build/CollatzV0.1.4/base_library.zip
build/CollatzV0.1.4/CollatzV0.1.4.exe.manifest
build/CollatzV0.1.4/EXE-00.toc
build/CollatzV0.1.4/PKG-00.pkg
build/CollatzV0.1.4/PKG-00.toc
build/CollatzV0.1.4/PYZ-00.pyz
build/CollatzV0.1.4/PYZ-00.toc
build/CollatzV0.1.4/Tree-00.toc
build/CollatzV0.1.4/Tree-01.toc
build/CollatzV0.1.4/Tree-02.toc
build/CollatzV0.1.4/warn-CollatzV0.1.4.txt
build/CollatzV0.1.4/xref-CollatzV0.1.4.html
.vscode/avr.properties.mk
.vscode/avr.targets.mk
.vscode/c_cpp_properties.json
_arc/mainLinearRegion.py
_arc/tree.py
_arc/win.py
_arc/win2.py
_arc/win3.py
_arc/win4.py
_arc/win5.py
_arc/winStop.py
__pycache__/icon_rc.cpython-38.pyc
__pycache__/main.cpython-38.pyc
__pycache__/win.cpython-38.pyc
__pycache__/win2.cpython-38.pyc
__pycache__/win3.cpython-38.pyc
__pycache__/win4.cpython-38.pyc
__pycache__/win5.cpython-38.pyc
__pycache__/winStop.cpython-38.pyc
collatz_c/collatz/.vs/collatz/v16/.suo
collatz_c/collatz/.vs/collatz/v16/Browse.VC.db
collatz_c/collatz/.vs/collatz/v16/ipch/75ddad471c54276a.ipch
collatz_c/collatz/.vs/collatz/v16/ipch/937289edeef631a9.ipch
collatz_c/collatz/.vs/collatz/v16/ipch/324210691ef757fa.ipch
collatz_c/collatz/collatz.sln
collatz_c/collatz/collatz/collatz.vcxproj
collatz_c/collatz/collatz/collatz.vcxproj.filters
collatz_c/collatz/collatz/collatz.vcxproj.user
collatz_c/collatz/collatz/cpp.hint
collatz_c/collatz/collatz/x64/Release/collatz.dll.recipe
collatz_c/collatz/collatz/x64/Release/collatz.iobj
collatz_c/collatz/collatz/x64/Release/collatz.ipdb
collatz_c/collatz/collatz/x64/Release/collatz.log
collatz_c/collatz/collatz/x64/Release/collatz.obj
collatz_c/collatz/collatz/x64/Release/collatz.pch
collatz_c/collatz/collatz/x64/Release/dllmain.obj
collatz_c/collatz/collatz/x64/Release/pch.obj
collatz_c/collatz/collatz/x64/Release/vc142.pdb
collatz_c/collatz/collatz/x64/Release/collatz.tlog/CL.command.1.tlog
collatz_c/collatz/collatz/x64/Release/collatz.tlog/CL.read.1.tlog
collatz_c/collatz/collatz/x64/Release/collatz.tlog/CL.write.1.tlog
collatz_c/collatz/collatz/x64/Release/collatz.tlog/collatz.lastbuildstate
collatz_c/collatz/collatz/x64/Release/collatz.tlog/collatz.write.1u.tlog
collatz_c/collatz/collatz/x64/Release/collatz.tlog/link.command.1.tlog
collatz_c/collatz/collatz/x64/Release/collatz.tlog/link.read.1.tlog
collatz_c/collatz/collatz/x64/Release/collatz.tlog/link.write.1.tlog
collatz_c/collatz/collatz/Release/collatz.dll.recipe
collatz_c/collatz/collatz/Release/collatz.iobj
collatz_c/collatz/collatz/Release/collatz.ipdb
collatz_c/collatz/collatz/Release/collatz.log
collatz_c/collatz/collatz/Release/collatz.obj
collatz_c/collatz/collatz/Release/collatz.pch
collatz_c/collatz/collatz/Release/dllmain.obj
collatz_c/collatz/collatz/Release/pch.obj
collatz_c/collatz/collatz/Release/vc142.pdb
collatz_c/collatz/collatz/Release/collatz.tlog/CL.command.1.tlog
collatz_c/collatz/collatz/Release/collatz.tlog/CL.read.1.tlog
collatz_c/collatz/collatz/Release/collatz.tlog/CL.write.1.tlog
collatz_c/collatz/collatz/Release/collatz.tlog/collatz.lastbuildstate
collatz_c/collatz/collatz/Release/collatz.tlog/collatz.write.1u.tlog
collatz_c/collatz/collatz/Release/collatz.tlog/link.command.1.tlog
collatz_c/collatz/collatz/Release/collatz.tlog/link.read.1.tlog
collatz_c/collatz/collatz/Release/collatz.tlog/link.write.1.tlog
collatz_c/collatz/collatz/Debug/collatz.dll.recipe
collatz_c/collatz/collatz/Debug/collatz.ilk
collatz_c/collatz/collatz/Debug/collatz.log
collatz_c/collatz/collatz/Debug/collatz.obj
collatz_c/collatz/collatz/Debug/collatz.pch
collatz_c/collatz/collatz/Debug/dllmain.obj
collatz_c/collatz/collatz/Debug/pch.obj
collatz_c/collatz/collatz/Debug/vc142.idb
collatz_c/collatz/collatz/Debug/vc142.pdb
collatz_c/collatz/collatz/Debug/collatz.tlog/CL.command.1.tlog
collatz_c/collatz/collatz/Debug/collatz.tlog/CL.read.1.tlog
collatz_c/collatz/collatz/Debug/collatz.tlog/CL.write.1.tlog
collatz_c/collatz/collatz/Debug/collatz.tlog/collatz.lastbuildstate
collatz_c/collatz/collatz/Debug/collatz.tlog/collatz.write.1u.tlog
collatz_c/collatz/collatz/Debug/collatz.tlog/link.command.1.tlog
collatz_c/collatz/collatz/Debug/collatz.tlog/link.read.1.tlog
collatz_c/collatz/collatz/Debug/collatz.tlog/link.write.1.tlog
CollatzA.spec
collatz_c/.vs/collatz/v16/.suo
collatz_c/.vs/collatz/v16/Browse.VC.db
collatz_c/.vs/collatz/v16/ipch/75ddad471c54276a.ipch
collatz_c/.vs/collatz/v16/ipch/5147b6706c5aa960.ipch
collatz_c/.vs/collatz/v16/ipch/937289edeef631a9.ipch
collatz_c/.vs/collatz/v16/ipch/20082745ccd077a1.ipch
collatz_c/.vs/collatz/v16/ipch/324210691ef757fa.ipch
collatz_c/collatz/collatz.vcxproj
collatz_c/collatz/collatz.vcxproj.filters
collatz_c/collatz/collatz.vcxproj.user
collatz_c/collatz/cpp.hint
collatz_c/collatz/x64/Release/collatz.dll.recipe
collatz_c/collatz/x64/Release/collatz.iobj
collatz_c/collatz/x64/Release/collatz.ipdb
collatz_c/collatz/x64/Release/collatz.log
collatz_c/collatz/x64/Release/collatz.obj
collatz_c/collatz/x64/Release/collatz.pch
collatz_c/collatz/x64/Release/dllmain.obj
collatz_c/collatz/x64/Release/pch.obj
collatz_c/collatz/x64/Release/vc142.pdb
collatz_c/collatz/x64/Release/collatz.tlog/CL.command.1.tlog
collatz_c/collatz/x64/Release/collatz.tlog/CL.read.1.tlog
collatz_c/collatz/x64/Release/collatz.tlog/CL.write.1.tlog
collatz_c/collatz/x64/Release/collatz.tlog/collatz.lastbuildstate
collatz_c/collatz/x64/Release/collatz.tlog/collatz.write.1u.tlog
collatz_c/collatz/x64/Release/collatz.tlog/link.command.1.tlog
collatz_c/collatz/x64/Release/collatz.tlog/link.read.1.tlog
collatz_c/collatz/x64/Release/collatz.tlog/link.write.1.tlog
